{% extends 'tom_common/base.html' %}
{% load bootstrap4 static crispy_forms_tags observation_extras targets_extras %}
{% block title %}Submit Observation{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_common/css/main.css' %}">
<link rel="stylesheet" href="{% static 'tom_observations/css/main.css' %}">
{% endblock %}
{% block content %}

<script>
    function showHideTargetClassificationOtherField() {
        if(document.getElementById('id_target_classification_choices').options[document.getElementById('id_target_classification_choices').selectedIndex].value == "Other (please specify)") {
             document.getElementById('id_target_classification').style.display = '';
        } else {
             document.getElementById('id_target_classification').style.display = 'none';
        }
    };
</script>

<script type="text/javascript">
    window.addEventListener("load", showHideTargetClassificationOtherField);
</script>
<!-- see also script element at end of file -->

{{ form|as_crispy_errors }}
<h1>Submit Request to Neil Gehrels Swift Observatory</h1>


{% if target.type == 'SIDEREAL' %}
<div class="row">
    <div class="col">
        <p>This is where we might put some visibility windows.</p>
    </div>
</div>
{% endif %}

<div class="row">
    <!-- Column 1 -->
    <div class="col-md-4">
        <p><b>Submitting credential:</b> <em>{{ username }}</em></p>
        <hr>
        <h4>Target Information</h4>
        {% target_data target %}
        <hr>
        <h4>Resolved Target Information ({{ resolver }})</h4>
        <dl class="row">
            <dt class="col-sm-6">Resolved Name</dt>
            <dd class="col-sm-6">{{ resolved_target_name }}</dd>
            <dt class="col-sm-6">Right Ascension</dt>
            <dd class="col-sm-6">{{ resolved_target_ra|floatformat:4 }}</dd>
            <dt class="col-sm-6">Declination</dt>
            <dd class="col-sm-6">{{ resolved_target_dec|floatformat:4 }}</dd>
        </dl>
        <hr>
        <!-- display tom_swift Facility verison -->
        <p><em>TOM Toolit Facility (<a href="https://github.com/TOMToolkit/tom_swift">tom_swift</a>) version {{ version }}</em></p>
    </div>
    <!-- Column 2 -->
    <div class="col-md-6">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="tabs">
        {% for observation_type, observation_form in observation_type_choices %}
            <li class="nav-item">
                <span class="nav-link {% if observation_type == active or not active and forloop.first %}active{% endif %}" data-target="#{{ observation_type }}" data-toggle="tab">
                    {{ observation_type }}
                </span>
            </li>
        {% endfor %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content observation-form">
        {% for observation_type, observation_form in observation_type_choices %}
            <div class="tab-pane {% if observation_type == active or not active and forloop.first %}active{% endif %}" id="{{ observation_type }}">
                {% crispy observation_form %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>

<!-- this has to go at the end or else the element can't be found -->
<script type="text/javascript">
    var el = document.getElementById("div_id_target_classification_choices");
    el.addEventListener("click", showHideTargetClassificationOtherField);
</script>

{% endblock %}